/.idea
/web
/vendor
!web/
web/*
!web/wp-content/
web/wp-content/*
!web/wp-content/themes/
web/wp-content/themes/*
!web/wp-content/themes/beautycorner/
# Exclude auth.json from Git repo
auth.json
composer.lock