.services__sublist {
  list-style: none;
}
.slider-plugin {
  position: relative;
}

.slider-plugin::after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNDguMDgiIGhlaWdodD0iNzMuNTQiIHZpZXdCb3g9Ii0xLjAwMiAtMSA1Mi4wODMgNzcuNTM5Ij48ZGVmcz48cGF0aCBpZD0iYSIgZD0ibTI0LjA0IDAgMjQuMDQgMzYuNzctMjQuMDQgMzYuNzdMMCAzNi43NyAyNC4wNCAwWiIvPjwvZGVmcz48dXNlIHhsaW5rOmhyZWY9IiNhIiBmaWxsPSIjYzEwMDY5Ii8+PC9zdmc+);
  background-repeat: no-repeat;
  bottom: -38px;
  content: "";
  height: 74px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 45px;
  z-index: 2;
}

.home-about .home-about__content p {
  font-size: 18px;
}
#scroll-top {
  border: 2px solid #c10069;
}

.home-schedule .home-schedule__item span {
  font-size: 20px;
  font-weight: 600;
  font-family: BellotaText, sans-serif;
}

.nf-form-layout form input {
  width: 100%;
}

.contact__tab.tab-active {
  color: #a00057;
}
.contact__tab {
  cursor: pointer;
}

#site-navigation-wrap .menu-item span {
  font-size: 12px;
  font-family: BellotaText, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
#site-navigation-wrap .current-menu-item span {
  color: #a00057;
}
.prices__card {
  background-color: #d9d2ce;
}

.prices__inner .wp-block-table table {
  border-collapse: collapse;
}
.prices__inner .wp-block-table table tbody tr,
.prices__inner .wp-block-table table tbody tr td,
.prices__inner .wp-block-table table tbody tr th {
  font-size: 18px;
  border: none;
  font-family: BellotaText, sans-serif;
}
.prices__inner .wp-block-table table tbody tr td:nth-child(2) {
  text-align: end;
  white-space: nowrap;
}
.prices__inner .wp-block-table table tbody tr td b {
  font-weight: 700;
}

.beauty-block__icon {
  margin: 0 auto;
  display: flex;
  margin-bottom: 30px;
}
.beauty-block__title {
  font-family: BellotaText, sans-serif;
  font-weight: 300 !important;
}
.career__item {
  list-style: none;
}
.beauty-block__content-box {
  font-family: BellotaText, sans-serif;
  font-weight: 300 !important;
}
.beauty-block__content-box p {
  font-family: inherit;
  font-weight: 300 !important;
  margin-bottom: 20px;
  line-height: 1.5;
}
.beauty-block__content-box h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 700 !important;
  color: #8f6f71;
}
.beauty-block__content {
  min-height: unset;
}
.beauty-block__content {
  padding: 0 25px;
}
.beauty-block__caption {
  margin-bottom: 25px;
}
.beauty-block__img-caption {
  text-align: center;
  color: rgb(6, 6, 6);
  font-size: 22px;
  font-family: BellotaText, sans-serif;
  font-weight: 300 !important;
  margin: 0 10px;
}
.menu-item.current-menu-ancestor > a span {
  color: #c10069 !important;
}
#site-navigation-wrap {
  top: 20px;
}
#site-header {
}
#top-bar-wrap {
  background-color: #f0ecf0;
}
#top-bar {
  margin: 0 auto;
}
#top-bar-inner {
  max-width: 600px;
  width: 100%;
  margin-left: auto;
}
#top-bar-social.top-bar-right {
  padding-right: 15px;
}

.beauty-block__first {
  padding-left: 25px;
  padding-right: 25px;
}
.beauty-block__content {
  padding-left: 0;
  padding-right: 0;
}
.beauty-block__content ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.beauty-block__content p {
  font-family: BellotaText, sans-serif;
  font-weight: 300;
}
.beauty-block__bottom-img {
  max-height: 390px;
  width: fit-content;
}
.beauty-block__img-caption {
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-toggle-li .icon-magnifier {
  font-size: 16px;
  color: #690036;
  font-weight: 700;
}

.search-toggle-li .icon-magnifier::before {
  position: relative;
  bottom: -5px;
}

.menu-item a:focus,
#site-logo #site-logo-inner a:focus {
  outline: solid 1px transparent !important;
  transition: none !important;
  -webkit-transition: none !important;
}

.footer__bottom-text a span {
  color: #c10069;
}
