.services__sublist {
  list-style: none;
}

.slider-plugin {
  position: relative;
}

.slider-plugin::after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNDguMDgiIGhlaWdodD0iNzMuNTQiIHZpZXdCb3g9Ii0xLjAwMiAtMSA1Mi4wODMgNzcuNTM5Ij48ZGVmcz48cGF0aCBpZD0iYSIgZD0ibTI0LjA0IDAgMjQuMDQgMzYuNzctMjQuMDQgMzYuNzdMMCAzNi43NyAyNC4wNCAwWiIvPjwvZGVmcz48dXNlIHhsaW5rOmhyZWY9IiNhIiBmaWxsPSIjYzEwMDY5Ii8+PC9zdmc+);

  background-repeat: no-repeat;

  bottom: -38px;

  content: "";

  height: 74px;

  left: 50%;

  position: absolute;

  -webkit-transform: translateX(-50%);

  transform: translateX(-50%);

  width: 45px;

  z-index: 2;
}

.home-about .home-about__content p {
  font-size: 18px;
}

#scroll-top {
  border: 2px solid #c10069;
}

.home-schedule .home-schedule__item span {
  font-size: 20px;

  font-weight: 600;

  font-family: BellotaText, sans-serif;
}

.nf-form-layout form input {
  width: 100%;
}

.contact__tab.tab-active {
  color: #a00057;
}

.contact__tab {
  cursor: pointer;
}

#site-navigation-wrap .menu-item span {
  font-size: 12px;

  font-family: BellotaText, sans-serif;

  font-weight: 700;

  text-transform: uppercase;
}

.prices__card {
  background-color: #d9d2ce;
}

.prices__inner .wp-block-table table {
  border-collapse: collapse;
}

.prices__inner .wp-block-table table tbody tr,
.prices__inner .wp-block-table table tbody tr td,
.prices__inner .wp-block-table table tbody tr th {
  font-size: 18px;

  border: none;

  font-family: BellotaText, sans-serif;
}

.prices__inner .wp-block-table table tbody tr td:nth-child(2) {
  text-align: end;

  white-space: nowrap;
}

.prices__inner .wp-block-table table tbody tr td b {
  font-weight: 700;
}

.beauty-block__icon {
  margin: 0 auto;

  display: flex;

  margin-bottom: 30px;
}

.beauty-block__title {
  font-family: BellotaText, sans-serif;

  font-weight: 300 !important;
}

.career__item {
  list-style: none;
}

.beauty-block__content-box {
  font-family: BellotaText, sans-serif;

  font-weight: 300 !important;
}

.beauty-block__content-box p {
  font-family: inherit;

  font-weight: 300 !important;

  margin-bottom: 20px;

  line-height: 1.5;
}

.beauty-block__content-box h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;

  font-weight: 700 !important;

  color: #8f6f71;
}

.beauty-block__content {
  min-height: unset;
}

.beauty-block__content {
  padding: 0 25px;
}

.beauty-block__caption {
  margin-bottom: 25px;
}

.beauty-block__img-caption {
  text-align: center;

  color: rgb(6, 6, 6);

  font-size: 22px;

  font-family: BellotaText, sans-serif;

  font-weight: 300 !important;

  margin: 0 10px;
}

.menu-item.current-menu-ancestor > a span {
  color: #c10069 !important;
}

#site-navigation-wrap {
  top: 20px;
}

#site-header {
}

#top-bar-wrap {
  background-color: #f0ecf0;
}

#top-bar {
  margin: 0 auto;
}

#top-bar-inner {
  max-width: 600px;

  width: 100%;

  margin-left: auto;
}

#top-bar-social.top-bar-right {
  padding-right: 15px;
}

.beauty-block__first {
  padding-left: 25px;

  padding-right: 25px;
}

.beauty-block__content {
  padding-left: 0;

  padding-right: 0;
}

.beauty-block__content ul li {
  padding-top: 5px;

  padding-bottom: 5px;

  margin-bottom: 15px;
}

.beauty-block__content p {
  font-family: BellotaText, sans-serif;

  font-weight: 300;
}

.beauty-block__bottom-img {
  max-height: 390px;

  width: fit-content;
}

.beauty-block__img-caption {
  padding-top: 10px;

  padding-bottom: 10px;
}

.search-toggle-li .icon-magnifier {
  font-size: 16px;

  color: #690036;

  font-weight: 700;
}

.search-toggle-li .icon-magnifier::before {
  position: relative;

  bottom: -5px;
}

.menu-item a:focus,
#site-logo #site-logo-inner a:focus,
.contact__info a:focus {
  outline: solid 1px transparent !important;

  transition: none !important;

  -webkit-transition: none !important;
}

.footer__bottom-text a span {
  color: #c10069;
}

.wpv-splash-screen {
  display: block;

  position: fixed;

  top: 0;

  right: 0;

  bottom: 0;

  left: 0;

  background: #ffffff;

  z-index: 99999;

  -webkit-backface-visibility: hidden;

  backface-visibility: hidden;
}

.wpv-splash-screen .wpv-splash-screen-progress-wrapper {
  position: absolute;

  bottom: 50%;

  left: 20%;

  right: 20%;

  padding-bottom: 60px;

  border-bottom: 1px solid #ededed;
}

.wpv-splash-screen .wpv-splash-screen-progress {
  position: absolute;

  top: 100%;

  left: 0;

  width: 0;

  height: 1px;

  background: #c10069;

  transition: width 0.25s linear;
}

.contact__link:hover {
  color: #000;
}

.has-parallax-footer.separate-layout #main {
  box-shadow: 0px 20px 20px 10px #d4cbca;
}

.nf-before-form-content {
  display: none;
}

.wcmenucart-count svg {
  position: relative;

  top: 5px;

  width: 20px;

  height: 20px;
}

.wcmenucart-details.count {
  background-color: #c10069;
}

.wcmenucart-details.count::before {
  border-color: #c10069;
}

.wcmenucart-details {
  margin-left: 5px !important;
}

.widget_shopping_cart_content {
  border-radius: 16px;

  background: #f5f5f5;

  padding: 10px 10px 20px;
}

.woocommerce ul.product_list_widget li {
  background-color: #fff;

  padding: 10px;

  margin-bottom: 5px;
}

.owp-grid-wrap {
  min-height: 110px;
}

.current-shop-items-dropdown.owp-mini-cart {
  border-radius: 16px;
  width: 450px;
}

.widget_shopping_cart ul.cart_list li .owp-grid-wrap .owp-grid.thumbnail {
  width: 90px !important;

  border: none;
}

.widget_shopping_cart ul.cart_list li .owp-grid-wrap .owp-grid.thumbnail img {
  box-shadow: 0px 4px 4px 0px #d8d4d840;

  border-radius: 16px;
}

.widget_shopping_cart ul.cart_list li .owp-grid-wrap {
  justify-content: space-around;
}

.widget_shopping_cart ul.cart_list li .owp-grid-wrap .owp-grid.content {
  width: 65%;

  padding-left: 0;

  min-height: 80px;
}

.widget_shopping_cart ul.cart_list li .owp-grid-wrap .owp-grid.content > div {
  padding-right: 42px;

  min-height: 80px;

  display: flex;

  flex-direction: column;

  justify-content: space-between;
}

.widget_shopping_cart ul.cart_list li .owp-grid-wrap .owp-grid a.remove {
  border-radius: 4px;

  color: #fff;

  font-size: 30px;

  background-color: #c1c1c1;

  border: 1px solid transparent;

  margin-top: -40px;

  right: 0;
}

.widget_shopping_cart ul.cart_list li .owp-grid-wrap .owp-grid .quantity {
  display: flex;

  justify-content: space-between;

  color: #898989;
}

.widget_shopping_cart
  ul.cart_list
  li
  .owp-grid-wrap
  .owp-grid
  .quantity
  span.amount {
  border-radius: 4px;

  border: 1px solid #000;

  padding: 4px 10px;
}

.widget_shopping_cart .total strong {
  position: relative;

  top: 7px;

  color: #000;
}

.widget_shopping_cart .total .amount {
  background-color: #fff;

  padding: 4px 12px;

  border-radius: 4px;

  font-size: 18px;
}

.widget_shopping_cart_content .buttons {
  padding-left: 0;

  padding-right: 0;

  padding-bottom: 0;
}

.widget_shopping_cart_content .buttons .button {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
}

.widget_shopping_cart_content .buttons .button:first-child {
  color: #fff;
  background-color: #231f20;
  transition: all ease-in-out 0.5s;
}

.widget_shopping_cart_content .buttons .button:first-child:hover {
  border: 1px solid #c40075;
}

.widget_shopping_cart_content .buttons .checkout {
  transition: all ease-in-out 0.5s;

  background-color: #c40075;

  border: 1px solid #e6e6e6;
}

.widget_shopping_cart_content .buttons .checkout:hover {
  border: 1px solid #c40075;

  background-color: #231f20;
}

/* Cart */

body.page.content-max-width .entry .alignwide {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
}

.separate-layout.content-full-width .content-area {
  background-color: #f1f1f1;

  padding: 0 !important;
}
table.wc-block-cart-items .wc-block-cart-items__header > th {
  padding-bottom: 14.5px !important;
}
.is-large.wc-block-cart .wc-block-cart-items {
  border: none !important;
}
.wc-block-cart-items__row {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 170%;
  max-width: 700px;
  margin-bottom: 15px !important;
  border-radius: 8px;
}

.wc-block-cart-items__row > .wc-block-cart-item__image {
  width: 120px !important;
  border-radius: 16px;
}
.wc-block-cart-items__row > .wc-block-cart-item__product {
  flex-grow: 1;
}

.wc-block-cart-items__row > .wc-block-cart-item__image img {
  border-radius: 16px;
}

.wc-block-cart-items__row > .wc-block-cart-item__total {
  width: 160px !important;
}
table.wc-block-cart-items td {
  margin-bottom: 0 !important;
}
.wc-block-components-product-price {
  margin-bottom: 5px;
}
.wc-block-cart-item__total-price-and-sale-badge-wrapper
  .wc-block-components-product-pric,
.wc-block-components-product-price .wc-block-components-formatted-money-amount,
.wc-block-components-product-price
  > .wc-block-components-product-price__value.is-discounted,
.wc-block-components-product-price
  > .wc-block-components-product-price__regular {
  padding: 3px 10px;
  border: 1px solid #000;
  border-radius: 4px;
}

.wc-block-components-product-price
  > .wc-block-components-product-price__value.is-discounted {
  border-color: #c40075;
  color: #c40075;
}

@media (max-width: 960px) {
  .wc-block-cart-items__row {
    display: table-row;
  }
  .wc-block-components-product-price
    > .wc-block-components-product-price__value.is-discounted {
    display: block;
    width: fit-content;
    margin-top: 10px;
    margin-left: 0;
    font-size: 18px;
  }
}
.wc-block-cart-items__row .wc-block-components-product-name {
  margin-bottom: 10px;
}

.wc-block-components-quantity-selector {
  border: none !important;
  width: 120px !important;
  margin-bottom: 10px !important;
}

.wc-block-components-quantity-selector
  > .wc-block-components-quantity-selector__button {
  background-color: #000 !important;

  border-radius: 4px !important;

  min-width: 35px !important;

  opacity: 1 !important;

  color: #fff !important;

  transition: background-color ease-in-out 0.5s;
}

.wc-block-components-quantity-selector
  > .wc-block-components-quantity-selector__button:hover {
  background-color: #c40075 !important;
}
.wc-block-cart-item__total > .wc-block-components-product-price {
  margin-bottom: 5px;
}

.wc-block-cart-item__total-price-and-sale-badge-wrapper
  .wc-block-components-sale-badge {
  border: none;
  color: #c40075;
}
/* disable block  */
.wc-block-cart-item__product
  > .wc-block-cart-item__wrap
  > .wc-block-components-product-badge.wc-block-components-sale-badge {
  display: none !important;
}
/* disable block  */

.wc-block-components-quantity-selector
  input.wc-block-components-quantity-selector__input {
  min-width: 35px !important;

  width: 35px;

  border: 1px solid #000 !important;

  border-radius: 4px;

  margin-left: 5px !important;

  margin-right: 5px !important;
}

/* Cart right */
.wc-block-components-totals-coupon__form {
  flex-direction: column;
}
.wc-block-components-totals-coupon__form > button {
  margin: 15px 0 0 0 !important;
}

.wp-block-woocommerce-cart-order-summary-block > span {
  padding-bottom: 14.5px !important;
}

.wc-block-components-totals-wrapper {
  background-color: #fff;
}

.wc-block-cart__submit {
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.wc-block-cart .wc-block-cart__submit-container {
  padding: 15px !important;
}
.wc-block-cart .wc-block-cart__submit-container a {
  background-color: #000;
  border-radius: 8px;
  color: #fff;
}
.wc-block-cart .wc-block-cart__submit-container button {
  color: #fff;
}
body:not(.woocommerce-block-theme-has-button-styles)
  .wc-block-components-button:not(.is-link) {
  border-radius: 8px;
}

@media (max-width: 768px) {
  .wc-block-cart-items__row {
    width: auto !important;
  }
  .wc-block-cart-item__total-price-and-sale-badge-wrapper
    .wc-block-components-sale-badge {
    font-size: 10px;
  }
  table.wc-block-cart-items .wc-block-cart-items__row {
    padding: 15px !important;
  }
  .wc-block-components-totals-wrapper {
    padding: 15px !important;
  }
}

@media (max-width: 580px) {
  table.wc-block-cart-items
    .wc-block-cart-items__row
    .wc-block-components-product-name {
    font-size: 14px !important;
  }
  .wc-block-components-product-metadata
    > .wc-block-components-product-metadata__description {
    font-size: 12px !important;
  }

  .wc-block-components-product-price
    > .wc-block-components-product-price__value,
  .wc-block-components-product-price
    > .wc-block-components-product-price__regular,
  .wc-block-components-product-price
    > .wc-block-components-product-price__value.is-discounted {
    font-size: 14px;
  }
  table.wc-block-cart-items .wc-block-cart-items__row {
    display: table-row !important;
    border-bottom: 1px solid #ccc;
  }
  .wc-block-cart-items__row > .wc-block-cart-item__image {
    border-radius: 0;
  }
  table.wc-block-cart-items .wc-block-cart-items__row td {
    padding: 8px !important;
  }
  .wc-block-cart-items__row > .wc-block-cart-item__total {
    width: 120px !important;
  }
  table.wc-block-cart-items
    .wc-block-cart-items__row
    .wc-block-cart-item__total {
    padding-left: 0 !important;
  }
  .separate-layout #main #content-wrap {
    padding-left: 0;
    padding-right: 0;
  }
  table.wc-block-cart-items
    .wc-block-cart-items__row
    .wc-block-cart-item__quantity {
    padding-top: 0 !important;
  }
}

/* page Checkout form */
.wc-block-components-order-summary .wc-block-components-order-summary-item {
  flex-wrap: wrap;
}

.wc-block-components-order-summary
  .wc-block-components-order-summary-item__description {
  flex-grow: 2;
}
.wc-block-components-order-summary
  .wc-block-components-order-summary-item__total-price {
  width: 100%;
}
/* display: none prise total and simple product */
.wc-block-components-order-summary
  .wc-block-components-order-summary-item__individual-prices,
.wc-block-components-order-summary
  .wc-block-components-order-summary-item__description
  .wc-block-components-product-metadata {
  display: none !important;
}
/* display: none prise total and simple product*/

.wc-block-components-order-summary-item
  > .wc-block-components-order-summary-item__total-price
  > span
  > span {
  display: block;
  width: 100%;
  text-align: center;
}

.wc-block-components-order-summary
  .wc-block-components-order-summary-item:last-child
  > div {
  padding-bottom: 16px !important;
}
.wc-block-components-order-summary
  .wc-block-components-order-summary-item__image {
  max-width: 80px !important;
  width: 80px !important;
}
.wc-block-components-order-summary
  .wc-block-components-order-summary-item__image
  > img {
  max-width: 80px !important;
  width: 80px !important;
  border-radius: 16px;
}

.wc-block-components-order-summary
  .wc-block-components-order-summary-item__quantity {
  min-height: 25px !important;
  min-width: 25px !important;
  right: -5px !important;
}
body:not(.woocommerce-block-theme-has-button-styles)
  .wc-block-components-button:not(.is-link) {
  color: #fff !important;
}

/* my-account */

.woocommerce
  .oceanwp-loginform-wrap
  .form-row
  button.woocommerce-button.button.woocommerce-form-login__submit,
.woocommerce .lost_reset_password button {
  border-radius: 18px;
}

.woocommerce-MyAccount-navigation ul li a:before {
  color: #c40075 !important;
}
.wc-block-components-notice-banner.is-info {
  border-color: #c40075 !important;
  background-color: #fff !important;
}
.wc-block-components-notice-banner.is-info > svg {
  background-color: #c40075 !important;
}

.woocommerce-MyAccount-content .addresses .woocommerce-Address .title h3 {
  color: #c40075 !important;
  margin-bottom: 15px;
}
.woocommerce-MyAccount-content .addresses .woocommerce-Address .title a {
  position: relative;
  top: 0;
  right: 0;
  padding: 0;
  background-color: transparent;
  color: #000;
}
.woocommerce button.button {
  border-radius: 8px;
}
.woocommerce-page form .form-row-wide span em {
  font-size: 14px;
}
input[type="checkbox"]:checked:before {
  color: #c40075 !important;
}
.woocommerce-MyAccount-content #payment ul.payment_methods .woocommerce-PaymentMethod>input[type=radio]:first-child:checked+label:before {
  color: #c40075 !important;
}
.woocommerce-MyAccount-content #payment .payment_methods li .payment_box{
  padding: 5px 0 0 10px;
}
/* my-account */

/* single-product */

owp-floating-bar button.button {
  border-radius: 4px;
}

.owp-floating-bar button.button:hover {
  background-color: #c40075;
}

.summary .price ins,
.summary .price del {
  padding: 4px 10px;
  font-size: 24px !important;
  border-radius: 4px;
}

.summary .price ins {
  border: 1px solid #c40075;
}

.summary .price del {
  border: 1px solid #000;
  text-decoration-color: #000;
  color: #000;
}

.summary .price ins span.amount {
  color: #c40075 !important;
}

.summary .wc-block-components-notice-banner.is-info {
  border-color: #c40075;
  background-color: #fff;
  padding: 10px !important;
}

.summary .wc-block-components-notice-banner.is-info > svg {
  background-color: #c40075;
}

.summary
  .wc-block-components-notice-banner.is-info
  .wc-block-components-notice-banner__content
  > span {
  color: #c40075;
}

.summary .single_add_to_cart_button.button {
  border-radius: 18px !important;
  font-size: 14px !important;
  opacity: 1 !important;
}

.summary .quantity a {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
}

.summary .quantity a.minus {
  margin-right: 5px !important;
}

.summary .quantity a.plus {
  margin-left: 5px !important;
}

.summary .quantity input {
  border: 1px solid #000;
  font-size: 18px;
  border-radius: 4px;
}

.woocommerce div.product .woocommerce-product-rating .star-rating {
  width: 80px !important;
}

.woocommerce-product-rating .star-rating::before,
.woocommerce-product-rating .star-rating span::before {
  font-size: 15px;
}

.woocommerce-product-rating .star-rating span::before {
  color: #c40075;
}

.woocommerce div.product .woocommerce-product-rating .woocommerce-review-link {
  display: none !important;
}

#review_form #respond .form-submit input {
  border-radius: 4px !important;
}

.summary .price > span {
  padding: 4px 7px;
  border: 1px solid #000;
  border-radius: 4px;
}

.summary .variations tbody > tr th.label {
  width: 150px !important;
}
.summary .variations tbody > tr .value {
  padding-top: 6px !important;
  padding-bottom: 10px !important;
}

.woocommerce div.product form.cart .variations .reset_variations {
  border-radius: 4px;
  border: 1px solid #000;
  font-size: 15px;
  color: #000;
}

.summary .variations tbody > tr .value .theme-select {
  display: none !important;
}

/* Tabs single product */
.woocommerce-tabs ul.tabs {
  background-color: #fff;
  padding-top: 5px;
  box-shadow: 0px 4px 4px 0px #e6e2e6;
  margin-bottom: 0 !important;
}

.woocommerce-tabs ul.tabs li.active a,
.woocommerce-tabs ul.tabs li a {
  border-top: none !important;
  padding-bottom: 15px !important;
}

.woocommerce-tabs ul.tabs li a:focus,
.woocommerce-tabs ul.tabs li.active a:focus {
  outline: none !important;
}

.woocommerce-tabs .panel {
  background-color: #fff;
  padding: 15px;
  margin-top: 0 !important;
}
/* Tabs single product */

/* stars color */
#reviews .comment-form-rating p.stars:hover a::before,
#reviews .comment-form-rating p.stars.selected a:not(.active)::before,
#reviews .comment-form-rating p.stars.selected a.active::before {
  color: #c40075 !important;
}
#reviews .comment-form-rating p.stars a:focus {
  outline: solid 1px transparent !important;
}
/* stars color */

/* variebl product price */
.woocommerce div.product form.cart .variations label label {
  color: #c40075 !important;
}
.woocommerce div.product p.price {
  font-size: 18px !important;
}

.summary .single_variation_wrap .price > span {
  font-size: 24px;
  color: #c40075 !important;
  border-color: #c40075 !important;
}

/* variebl product price */

/* comments */
#reviews #comments ol.commentlist li .comment_container {
  padding-left: 80px !important;
}

#reviews #comments ol.commentlist li img.avatar {
  border-radius: 8px !important;
  top: 0 !important;
}

#reviews .comment-text {
  display: flex;
  flex-direction: column;
}

#reviews .comment-text .star-rating span::before {
  color: #c40075;
}

#reviews .comment-text .description {
  margin-top: 15px;
}

#reviews #review_form #respond form textarea:focus:invalid {
  color: #c40075;
  border-color: #c40075;
}
/* comments */

/* sale flash */
.woocommerce span.onsale {
  background-color: #c40075 !important;
  border-radius: 8px;
}
.woocommerce ul.products li.product.outofstock .outofstock-badge {
  background-color: #000 !important;
  border-radius: 8px;
}
@media only screen and (max-width: 1080px) {
  .woocommerce .has-product-nav span.onsale,
  .woocommerce ul.products li.product.outofstock .outofstock-badge {
    top: 35px !important;
    left: 10px !important;
  }
}
/* sale flash */

/* product meta */
.woocommerce div.product form.cart + .product_meta span {
  font-size: 14px;
}
.woocommerce div.product form.cart + .product_meta span.sku_wrapper {
  color: #000 !important;
}
/* product meta */

/* shop stars*/
.woocommerce
  ul.products
  li.owp-content-center.product.has-rating
  .woo-entry-inner
  .star-rating
  span::before {
  color: #c40075 !important;
}
/* shop stars*/

/* shop button */
.woocommerce ul.products li.product .button {
  background-color: #000 !important;
  color: #fff !important;
  border-radius: 4px !important;
}
.woocommerce ul.products li.product .product-inner .added_to_cart {
  background-color: #c40075 !important;
  color: #fff !important;
  border-radius: 4px !important;
}
/* shop button */

/* tool bar */

@media (max-width: 960px) {
  .oceanwp-toolbar.clr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 500px) {
  .woocommerce .oceanwp-grid-list {
    display: none;
  }
}
.oceanwp-toolbar.clr .woocommerce-ordering option {
  min-height: 1.3em;
}

/* breadcrumbs */
.breadcrumbs {
  color: #8f8f8e;
  padding: 25px 0;
}
.breadcrumbs > span {
  padding-right: 5px;
}
.breadcrumbs > span:not(:first-child) {
  padding-left: 5px;
}
.breadcrumbs > span .breadcrumb_last {
  color: #c40075;
}

@media (max-width: 560px) {
  .breadcrumbs {
    font-size: 16px;
  }
  .breadcrumbs > span {
    padding-right: 3px;
  }
  .breadcrumbs > span:not(:first-child) {
    padding-left: 3px;
  }
}
@media (max-width: 450px) {
  .breadcrumbs {
    font-size: 14px;
  }
}
/* breadcrumbs */

/* serch cart */
.woocommerce .dgwt-wcas-pd-rating .star-rating span::before {
  color: #c40075;
}
.dgwt-wcas-pd-price span.amount {
  display: inline-block;
  width: fit-content;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 14px;
}

.add_to_cart_button {
  font-size: 12px !important;
  border-radius: 8px !important;
}
/* serch cart */

/* btn quick view*/
.woocommerce div.product .summary .added_to_cart {
  height: 38px;
  background-color: #000;
  color: #fff;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.woocommerce div.product .summary .added_to_cart:hover {
  background-color: #c40075;
}
/* btn quick view*/

/* vislist popap */
.woosw-popup-content .woosw-item-inner > .woosw-item--info .woosw-item--price {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.woosw-popup-content
  .woosw-item-inner
  > .woosw-item--info
  .woosw-item--price
  > span,
.woosw-popup-content
  .woosw-item-inner
  > .woosw-item--info
  .woosw-item--price
  > del
  > span {
  display: block;
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid #000;
}
.woosw-popup-content
  .woosw-item-inner
  > .woosw-item--info
  .woosw-item--price
  > ins {
  text-decoration: none !important;
}
.woosw-popup-content
  .woosw-item-inner
  > .woosw-item--info
  .woosw-item--price
  > ins
  > span {
  display: block;
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid #c40075;
  color: #c40075;
}

.woosw-popup-content
  .woosw-item-inner
  > .woosw-item--actions
  .woosw-item--stock {
  margin-bottom: 3px;
  color: #77a464;
}

.woosw-popup-content .woosw-item-inner > .woosw-item--info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.woosw-popup-content .woosw-item-inner > .woosw-item--info .woosw-item--time {
  font-size: 12px;
}
.woosw-popup .woosw-items .woosw-item .woosw-item--add .add_to_cart_inline {
  display: grid;
  gap: 5px;
}
.woosw-popup
  .woosw-items
  .woosw-item
  .woosw-item--add
  .add_to_cart_inline
  a.add_to_cart_button {
  line-height: 1.2;
  padding: 4px;
  width: 100px;
}
.woosw-popup
  .woosw-items
  .woosw-item
  .woosw-item--add
  .add_to_cart_inline
  a.added_to_cart {
  display: block;
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid #c40075;
  text-align: center;
}
.woosw-popup
  .woosw-items
  .woosw-item
  .woosw-item--add
  .add_to_cart_inline
  a.product_type_variable {
  border-radius: 4px;
}

.woocommerce .button:focus {
  background-color: #c40075 !important;
}
@media (max-width: 430px) {
  .woosw-popup
    .woosw-popup-inner
    .woosw-popup-content
    .woosw-popup-content-bot {
    text-transform: lowercase;
  }
  .woosw-popup-content .woosw-item-inner > .woosw-item--info {
    margin-right: 5px;
  }
}
/* vislist popap */

/* vislist page */
.woosw-list table.woosw-items tr td.woosw-item--info {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.woosw-list table.woosw-items tr td.woosw-item--info .woosw-item--name > a {
  text-decoration: none !important;
}
.woosw-list table.woosw-items tr td.woosw-item--info .woosw-item--price > span,
.woosw-list
  table.woosw-items
  tr
  td.woosw-item--info
  .woosw-item--price
  > del
  > span {
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid #000;
}
.woosw-list table.woosw-items tr td.woosw-item--info .woosw-item--price > ins,
.woosw-list
  table.woosw-items
  tr
  td.woosw-item--actions
  .woosw-item--add
  .product
  > a {
  text-decoration: none !important;
}
.woosw-list
  table.woosw-items
  tr
  td.woosw-item--info
  .woosw-item--price
  > ins
  > span {
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid #c40075;
  color: #c40075;
}

.woosw-list table.woosw-items tr td.woosw-item--info .woosw-item--time {
  font-size: 14px;
}

.woosw-list table.woosw-items tr td.woosw-item--actions p.stock {
  font-size: 16px;
  margin-bottom: 10px;
  color: #77a464;
}
.woosw-list
  table.woosw-items
  tr
  td.woosw-item--actions
  .woosw-item--add
  .product {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.woosw-list
  table.woosw-items
  tr
  td.woosw-item--actions
  .woosw-item--add
  .added_to_cart {
  display: block;
  padding: 14px 20px;
  background-color: #231f20;
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
}
.woosw-list
  table.woosw-items
  tr
  td.woosw-item--actions
  .woosw-item--add
  .product_type_variable {
  border-radius: 8px;
}
.woosw-list
  table.woosw-items
  tr
  td.woosw-item--actions
  .woosw-item--add
  .added_to_cart:hover {
  background-color: #c40075;
}

@media (max-width: 768px) {
  .woosw-list table.woosw-items tr td.woosw-item--info {
    font-size: 14px;
  }
  .woosw-list table.woosw-items tr td.woosw-item--actions p.stock {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .woosw-list
    table.woosw-items
    tr
    td.woosw-item--actions
    .woosw-item--add
    .added_to_cart,
  .woosw-list
    table.woosw-items
    tr
    td.woosw-item--actions
    .woosw-item--add
    .add_to_cart_button {
    padding: 10px;
  }
}
@media (max-width: 580px) {
  .woosw-list table.woosw-items tr td.woosw-item--remove,
  .woosw-list table.woosw-items tr td.woosw-item--info {
    padding-right: 0;
    padding-left: 0;
  }
  .woosw-list table.woosw-items tr td.woosw-item--info .woosw-item--price {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
  }
  .woosw-list
    table.woosw-items
    tr
    td.woosw-item--info
    .woosw-item--price
    > del {
    margin-bottom: 3px;
  }
  .woosw-list table.woosw-items tr td.woosw-item--actions {
    padding-right: 0;
  }
  .woosw-list
    table.woosw-items
    tr
    td.woosw-item--actions
    .woosw-item--add
    .added_to_cart {
    background-color: #c40075;
  }
}
.woosw-menu-item .woosw-menu-item-inner:after {
  background-color: #c40075 !important;
}
/* vislist page */

/* vislist shop */
.products.oceanwp-row.clr.list .product-inner .woosw-btn-has-icon {
  top: 9%;
  right: 68% !important;
}
@media (max-width: 860px) {
  .product-inner .woosw-btn-has-icon {
    font-size: 0;
    height: 30px;
    padding-left: 1px;
  }
  .products.oceanwp-row.clr.list .product-inner .woosw-btn-has-icon {
    font-size: 0;
    height: 30px;
    top: 22px;
    right: 69% !important;
  }
}
@media (max-width: 767px) {
  .product-inner .woosw-btn-has-icon {
    font-size: 16px;
    height: 30px;
    padding-left: 4px;
  }

  .products.oceanwp-row.clr.list .product-inner .woosw-btn-has-icon {
    font-size: 16px;
    padding-left: 4px;
    right: 2% !important;
  }
}
/* vislist shop */

input:focus-visible + label,
a:focus {
  outline: 1px solid transparent !important;
}

/* drop-menu in header color */
#site-navigation-wrap .menu-item span,
#site-navigation-wrap .sub-menu .menu-item span {
  color: #000;
}

#site-navigation-wrap .current-menu-item span,
#site-navigation-wrap .sub-menu .current-menu-item span {
  color: #c40075;
}
/* drop-menu in header color */


@media only screen and (max-width: 1080px) {
  .career {
    padding-bottom: 50px;
  }
}